<!--<div class="row wrp">-->
<!--<div class="col-xs-12">-->
<!--<span class="msg" [id]="'msg'+index"  *ngFor="let msg of msgs|async;let index=index">-->
<!--{{msg.msg}}-->
<!--</span>-->

<!--<div (@flyInOut.done)="animationDone($event)" [@flyInOut]="spanState"  class="col-xs-12"  class="msg">y"}}>-->
<!--<div (@flyInOut.done)="animationDone($event)" [@flyInOut]="'in'" *ngIf="showMsg"  class="col-xs-12">-->
<!--<div  *ngFor="let msg of msgs" class="msg">{{msg.msg}}  {{msg.date|date:"dd/MM/yyyy"}} </div>-->
<!--<span  class="msg">סבלחגיגלח בהגחלבהי גחלבהי גבהי חלהי בסחלהי בחלהיבחלהי בלחהי בחהיב חלהיבלהחבי החלבי הלחבי הלחבי הלחבי הלבחהי בלחהי בלחהי בלחהיבלחהילחהיגכחהיכפגהיפןגדכהיכלגחהיגכחלהיכג חלהי כחהליכ לחי ליחיחה גחיחהיגכהיגכליהלגכ הי כחלהיכג חלהיכ להחי ל</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="marquee-wrp">

  <marquee onmouseover="stop();" onmouseout="start();" class="text-left well"  direction="right">

    <span class="marquee-wrp--roller-wrp" *ngFor="let rlr of  (rollerResponse|async)?.rlrs">

         <span class="msg">{{rlr.msg}}</span><span class="date"> {{rlr.time|date:'dd/MM/yy'}}</span>

</span>
  </marquee>
</div>


